.home-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background-color: black;
}

.home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    max-width: 80%;

    .home-three-dices {
        min-width: 40%;
        max-height: 10vh;
        max-width: 40vh;
    }

    .button-home-spacing {
        margin-bottom: 8vh;
    }

    .home-title {
        line-height: 15vh;
        font-family: Eczar;
        font-size: 8vw;
        color: #f5ecd3;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .home-bones {
        max-height: 10vh;
        max-width: 10vh;        
    }

    .home-spin-bones{
        max-height: 10vh;
        max-width: 10vh;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .ribbon-button {
        font-family: Eczar;
        font-size: 1.5vw;
        margin: 0.5vh 0 0.5vh 0;
        width: 28vh;
        height: 6.5vh;
        background-size: 100%;
        text-transform: none;
    }
}

.corner-maxmin {
    min-width: 25%;
    min-height: 25%;
    max-width: 35%;
    max-height: 35%;
}

.homegif-topleft {
    position: fixed;
    top: 0;
    left: 0;
}

.homegif-topright {
    position: fixed;
    top: 0;
    right: 0;
}

.homegif-botleft {
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
    left: 0;
}

.homegif-botright {
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
    right: 0;
}